{% extends 'base.html' %}

{% block head %}
    <title>Update Master</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Update Task</h1>
        <div class="form">
            <form action= "/update/{{task.id}}" method="POST" class="form-inline">
                <div class="form-group">
                    <input type="text" name="content" id="content" class="form-control", value="{{task.content}}">
                    <input type="submit" value="Update Task" class="form-control">
                </div>
            </form>
        </div>
    </div>
{% endblock %}